* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    padding: 30px 50px;
    font-size: 22px;
    font-weight: 600;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: 30px;
    right: 50px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    width: 330px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.card h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.line {
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    margin: 10px 0 20px;
}

p {
    font-size: 15px;
    margin-bottom: 10px;
}

.btn {
    display: block;
    width: 100%;
    background: black;
    color: white;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
}

.btn:hover {
    background: #333;
}
